@media only screen and (max-width: 730px) {
    ul.body-content{
        grid-template-columns: auto;
    }

    ul.body-content li{
        padding: 8px;
    }

    ul.sosmed {
        grid-template-columns: repeat(2 ,auto);
    }

    .content, ul.sosmed, blockquote{margin: 0 8px}
}