body{font-family:'Montserrat', sans-serif;;margin:0; overflow-x: hidden;overflow-y: hidden;}
body::-webkit-scrollbar {width:1px; background:rgba(255,255,255,0.1);}
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
body::-webkit-scrollbar-thumb {background-color:#666666;}
body::-webkit-scrollbar:horizontal {height:6px;}
body::-webkit-scrollbar:vertical {width:1px;}

.background {fill: none;pointer-events: all; }
.feature {fill: #ccc;}
.feature.active {fill: orange;}
.mesh {fill: none;stroke: #fff;stroke-linecap: round;stroke-linejoin: round;}
#map-container {position: relative;}
.opening {display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100vh;background-color:#00a650;position: fixed;z-index: 10;}
#start{margin:0 auto; background:#939598; padding:6px 16px; text-align:center; font-size:20px; width:fit-content;text-decoration: none;cursor: pointer;}
#start:hover{background:#bbbcc8;}
.tooltip{position: absolute;display: flex;z-index: 1;bottom: 5pt; align-items: center;justify-content: center;}
.arrow{font-size: 3em;cursor: pointer;}
.arrow:hover{color: darkgray;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
.text-tooltip{background-color: #fff;border: 1px solid black;border-radius: 5px;padding: 0 10pt;max-width: 85%;}