@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?70805675');
  src: url('../font/fontello.eot?70805675#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?70805675') format('woff2'),
       url('../font/fontello.woff?70805675') format('woff'),
       url('../font/fontello.ttf?70805675') format('truetype'),
       url('../font/fontello.svg?70805675#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?70805675#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-sun-1:before { content: '\e800'; } /* 'î €' */
.icon-sun-filled:before { content: '\e801'; } /* 'î ' */
.icon-cloud-sun:before { content: '\e802'; } /* 'î ‚' */
.icon-sun-2:before { content: '\e803'; } /* 'î ƒ' */
.icon-sun-inv:before { content: '\e804'; } /* 'î „' */
.icon-search:before { content: '\e805'; } /* 'î …' */
.icon-search-1:before { content: '\e806'; } /* 'î †' */
.icon-search-outline:before { content: '\e807'; } /* 'î ‡' */
.icon-search-2:before { content: '\e808'; } /* 'î ˆ' */
.icon-down-open:before { content: '\e809'; } /* 'î ‰' */
.icon-down-open-2:before { content: '\e80a'; } /* 'î Š' */
.icon-up-open:before { content: '\e80b'; } /* 'î ‹' */
.icon-up-open-mini:before { content: '\e80c'; } /* 'î Œ' */
.icon-up-open-2:before { content: '\e80d'; } /* 'î ' */
.icon-up-open-big:before { content: '\e80e'; } /* 'î Ž' */
.icon-up-open-3:before { content: '\e80f'; } /* 'î ' */
.icon-play:before { content: '\e810'; } /* 'î ' */
.icon-play-1:before { content: '\e811'; } /* 'î ‘' */
.icon-play-2:before { content: '\e812'; } /* 'î ’' */
.icon-play-outline:before { content: '\e813'; } /* 'î “' */
.icon-play-3:before { content: '\e814'; } /* 'î ”' */
.icon-stop-outline:before { content: '\e815'; } /* 'î •' */
.icon-stop:before { content: '\e816'; } /* 'î –' */
.icon-skype-outline:before { content: '\e817'; } /* 'î —' */
.icon-skype-1:before { content: '\e818'; } /* 'î ˜' */
.icon-twitter-1:before { content: '\e819'; } /* 'î ™' */
.icon-eye:before { content: '\e81a'; } /* 'î š' */
.icon-eye-1:before { content: '\e81b'; } /* 'î ›' */
.icon-eye-off:before { content: '\e81c'; } /* 'î œ' */
.icon-eye-outline:before { content: '\e81d'; } /* 'î ' */
.icon-picture:before { content: '\e81e'; } /* 'î ž' */
.icon-attach:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-link:before { content: '\e820'; } /* 'î  ' */
.icon-ok:before { content: '\e821'; } /* 'î ¡' */
.icon-th-large:before { content: '\e822'; } /* 'î ¢' */
.icon-th:before { content: '\e823'; } /* 'î £' */
.icon-th-list:before { content: '\e824'; } /* 'î ¤' */
.icon-users:before { content: '\e825'; } /* 'î ¥' */
.icon-cog:before { content: '\e826'; } /* 'î ¦' */
.icon-cog-alt:before { content: '\e827'; } /* 'î §' */
.icon-wrench:before { content: '\e828'; } /* 'î ¨' */
.icon-zoom-in:before { content: '\e829'; } /* 'î ©' */
.icon-megaphone:before { content: '\e82a'; } /* 'î ª' */
.icon-floppy:before { content: '\e82b'; } /* 'î «' */
.icon-credit-card:before { content: '\e82c'; } /* 'î ¬' */
.icon-link-1:before { content: '\e82d'; } /* 'î ­' */
.icon-attach-1:before { content: '\e82e'; } /* 'î ®' */
.icon-layout:before { content: '\e82f'; } /* 'î ¯' */
.icon-rss-1:before { content: '\e830'; } /* 'î °' */
.icon-cog-1:before { content: '\e831'; } /* 'î ±' */
.icon-tools:before { content: '\e832'; } /* 'î ²' */
.icon-share:before { content: '\e833'; } /* 'î ³' */
.icon-location:before { content: '\e834'; } /* 'î ´' */
.icon-location-1:before { content: '\e835'; } /* 'î µ' */
.icon-location-outline:before { content: '\e836'; } /* 'î ¶' */
.icon-phone:before { content: '\e837'; } /* 'î ·' */
.icon-mobile:before { content: '\e838'; } /* 'î ¸' */
.icon-mail:before { content: '\e839'; } /* 'î ¹' */
.icon-globe:before { content: '\e83a'; } /* 'î º' */
.icon-globe-1:before { content: '\e83b'; } /* 'î »' */
.icon-clock:before { content: '\e83c'; } /* 'î ¼' */
.icon-clock-1:before { content: '\e83d'; } /* 'î ½' */
.icon-hourglass-1:before { content: '\e83e'; } /* 'î ¾' */
.icon-celcius:before { content: '\e83f'; } /* 'î ¿' */
.icon-temperatire:before { content: '\e840'; } /* 'î¡€' */
.icon-right-dir:before { content: '\e841'; } /* 'î¡' */
.icon-left-dir:before { content: '\e842'; } /* 'î¡‚' */
.icon-up-dir:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-down-dir:before { content: '\e844'; } /* 'î¡„' */
.icon-left-open:before { content: '\e845'; } /* 'î¡…' */
.icon-right-open:before { content: '\e846'; } /* 'î¡†' */
.icon-flash:before { content: '\e847'; } /* 'î¡‡' */
.icon-ccw:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-cw:before { content: '\e849'; } /* 'î¡‰' */
.icon-arrows-cw:before { content: '\e84a'; } /* 'î¡Š' */
.icon-switch:before { content: '\e84b'; } /* 'î¡‹' */
.icon-key:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-user:before { content: '\e84d'; } /* 'î¡' */
.icon-heart:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-heart-empty:before { content: '\e84f'; } /* 'î¡' */
.icon-heart-1:before { content: '\e850'; } /* 'î¡' */
.icon-heart-filled:before { content: '\e851'; } /* 'î¡‘' */
.icon-star-empty:before { content: '\e852'; } /* 'î¡’' */
.icon-star:before { content: '\e853'; } /* 'î¡“' */
.icon-down-open-1:before { content: '\f004'; } /* 'ï€„' */
.icon-up-open-1:before { content: '\f005'; } /* 'ï€…' */
.icon-link-ext:before { content: '\f08e'; } /* 'ï‚Ž' */
.icon-facebook:before { content: '\f09a'; } /* 'ï‚š' */
.icon-rss:before { content: '\f09e'; } /* 'ï‚ž' */
.icon-gplus-1:before { content: '\f0d5'; } /* 'ïƒ•' */
.icon-money:before { content: '\f0d6'; } /* 'ïƒ–' */
.icon-mail-alt:before { content: '\f0e0'; } /* 'ïƒ ' */
.icon-linkedin-1:before { content: '\f0e1'; } /* 'ïƒ¡' */
.icon-comment-empty:before { content: '\f0e5'; } /* 'ïƒ¥' */
.icon-angle-left:before { content: '\f104'; } /* 'ï„„' */
.icon-angle-right:before { content: '\f105'; } /* 'ï„…' */
.icon-angle-up:before { content: '\f106'; } /* 'ï„†' */
.icon-angle-down:before { content: '\f107'; } /* 'ï„‡' */
.icon-star-half-alt:before { content: '\f123'; } /* 'ï„£' */
.icon-unlink:before { content: '\f127'; } /* 'ï„§' */
.icon-shield:before { content: '\f132'; } /* 'ï„²' */
.icon-bullseye:before { content: '\f140'; } /* 'ï…€' */
.icon-rss-squared:before { content: '\f143'; } /* 'ï…ƒ' */
.icon-play-circled:before { content: '\f144'; } /* 'ï…„' */
.icon-ok-squared:before { content: '\f14a'; } /* 'ï…Š' */
.icon-euro:before { content: '\f153'; } /* 'ï…“' */
.icon-sort-name-up:before { content: '\f15d'; } /* 'ï…' */
.icon-sort-name-down:before { content: '\f15e'; } /* 'ï…ž' */
.icon-sort-number-up:before { content: '\f162'; } /* 'ï…¢' */
.icon-sort-number-down:before { content: '\f163'; } /* 'ï…£' */
.icon-youtube-squared:before { content: '\f166'; } /* 'ï…¦' */
.icon-youtube:before { content: '\f167'; } /* 'ï…§' */
.icon-youtube-play:before { content: '\f16a'; } /* 'ï…ª' */
.icon-bitbucket:before { content: '\f171'; } /* 'ï…±' */
.icon-apple:before { content: '\f179'; } /* 'ï…¹' */
.icon-female:before { content: '\f182'; } /* 'ï†‚' */
.icon-male:before { content: '\f183'; } /* 'ï†ƒ' */
.icon-sun:before { content: '\f185'; } /* 'ï†…' */
.icon-wordpress:before { content: '\f19a'; } /* 'ï†š' */
.icon-google:before { content: '\f1a0'; } /* 'ï† ' */
.icon-pied-piper-squared:before { content: '\f1a7'; } /* 'ï†§' */
.icon-behance-1:before { content: '\f1b4'; } /* 'ï†´' */
.icon-behance-squared:before { content: '\f1b5'; } /* 'ï†µ' */
.icon-git:before { content: '\f1d3'; } /* 'ï‡“' */
.icon-paper-plane:before { content: '\f1d8'; } /* 'ï‡˜' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* 'ï‡™' */
.icon-sliders:before { content: '\f1de'; } /* 'ï‡ž' */
.icon-binoculars:before { content: '\f1e5'; } /* 'ï‡¥' */
.icon-plug:before { content: '\f1e6'; } /* 'ï‡¦' */
.icon-cc-visa:before { content: '\f1f0'; } /* 'ï‡°' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* 'ï‡±' */
.icon-cc-discover:before { content: '\f1f2'; } /* 'ï‡²' */
.icon-cc-amex:before { content: '\f1f3'; } /* 'ï‡³' */
.icon-cc-paypal:before { content: '\f1f4'; } /* 'ï‡´' */
.icon-cc-stripe:before { content: '\f1f5'; } /* 'ï‡µ' */
.icon-eyedropper:before { content: '\f1fb'; } /* 'ï‡»' */
.icon-pinterest-1:before { content: '\f231'; } /* 'ïˆ±' */
.icon-user-plus:before { content: '\f234'; } /* 'ïˆ´' */
.icon-user-times:before { content: '\f235'; } /* 'ïˆµ' */
.icon-opencart:before { content: '\f23d'; } /* 'ïˆ½' */
.icon-expeditedssl:before { content: '\f23e'; } /* 'ïˆ¾' */
.icon-battery-4:before { content: '\f240'; } /* 'ï‰€' */
.icon-battery-3:before { content: '\f241'; } /* 'ï‰' */
.icon-battery-2:before { content: '\f242'; } /* 'ï‰‚' */
.icon-battery-1:before { content: '\f243'; } /* 'ï‰ƒ' */
.icon-hourglass:before { content: '\f254'; } /* 'ï‰”' */
.icon-odnoklassniki:before { content: '\f263'; } /* 'ï‰£' */
.icon-odnoklassniki-square:before { content: '\f264'; } /* 'ï‰¤' */
.icon-wikipedia-w:before { content: '\f266'; } /* 'ï‰¦' */
.icon-safari:before { content: '\f267'; } /* 'ï‰§' */
.icon-chrome:before { content: '\f268'; } /* 'ï‰¨' */
.icon-opera:before { content: '\f26a'; } /* 'ï‰ª' */
.icon-internet-explorer:before { content: '\f26b'; } /* 'ï‰«' */
.icon-map-o:before { content: '\f278'; } /* 'ï‰¸' */
.icon-map:before { content: '\f279'; } /* 'ï‰¹' */
.icon-edge:before { content: '\f282'; } /* 'ïŠ‚' */
.icon-credit-card-alt:before { content: '\f283'; } /* 'ïŠƒ' */
.icon-shopping-basket:before { content: '\f291'; } /* 'ïŠ‘' */
.icon-blind:before { content: '\f29d'; } /* 'ïŠ' */
.icon-thermometer:before { content: '\f2c7'; } /* 'ï‹‡' */
.icon-thermometer-3:before { content: '\f2c8'; } /* 'ï‹ˆ' */
.icon-thermometer-2:before { content: '\f2c9'; } /* 'ï‹‰' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* 'ï‹Š' */
.icon-thermometer-0:before { content: '\f2cb'; } /* 'ï‹‹' */
.icon-bath:before { content: '\f2cd'; } /* 'ï‹' */
.icon-facebook-2:before { content: '\f300'; } /* 'ïŒ€' */
.icon-vimeo:before { content: '\f306'; } /* 'ïŒ†' */
.icon-facebook-squared:before { content: '\f308'; } /* 'ïŒˆ' */
.icon-twitter:before { content: '\f309'; } /* 'ïŒ‰' */
.icon-facebook-1:before { content: '\f30c'; } /* 'ïŒŒ' */
.icon-facebook-circled:before { content: '\f30d'; } /* 'ïŒ' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* 'ïŒŽ' */
.icon-gplus:before { content: '\f30f'; } /* 'ïŒ' */
.icon-gplus-circled:before { content: '\f310'; } /* 'ïŒ' */
.icon-pinterest:before { content: '\f312'; } /* 'ïŒ’' */
.icon-tumblr:before { content: '\f315'; } /* 'ïŒ•' */
.icon-linkedin:before { content: '\f318'; } /* 'ïŒ˜' */
.icon-linkedin-circled:before { content: '\f319'; } /* 'ïŒ™' */
.icon-dribbble:before { content: '\f31b'; } /* 'ïŒ›' */
.icon-instagram:before { content: '\f32d'; } /* 'ïŒ­' */
.icon-dropbox:before { content: '\f330'; } /* 'ïŒ°' */
.icon-skype:before { content: '\f339'; } /* 'ïŒ¹' */
.icon-skype-circled:before { content: '\f33a'; } /* 'ïŒº' */
.icon-soundcloud:before { content: '\f348'; } /* 'ïˆ' */
.icon-behance:before { content: '\f34e'; } /* 'ïŽ' */
.icon-vkontakte:before { content: '\f354'; } /* 'ï”' */